    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    body {
        background-color: #457B9D;
    }
    
    #quote-box {
        width: 30vw;
        border-radius: 10px;
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F1FAEE;
        box-shadow: 0 3.9px 26.6px -10px rgba(0, 0, 0, 0.015), 0 8.6px 49.8px -10px rgba(0, 0, 0, 0.022), 0 14.4px 69.8px -10px rgba(0, 0, 0, 0.027), 0 21.7px 87px -10px rgba(0, 0, 0, 0.031), 0 31.3px 102.3px -10px rgba(0, 0, 0, 0.035), 0 44.3px 117.2px -10px rgba(0, 0, 0, 0.039), 0 62.8px 134.8px -10px rgba(0, 0, 0, 0.043), 0 91.3px 161.6px -10px rgba(0, 0, 0, 0.048), 0 140.6px 210.7px -10px rgba(0, 0, 0, 0.055), 0 250px 314px -10px rgba(0, 0, 0, 0.07);
        transition: all .5s ease-in-out;
    }
    
    #quote-box:hover {
        box-shadow: 0 1.5px 24.1px -34px rgba(0, 0, 0, 0.091), 0 3.4px 45.1px -34px rgba(0, 0, 0, 0.133), 0 5.6px 63.2px -34px rgba(0, 0, 0, 0.165), 0 8.5px 78.7px -34px rgba(0, 0, 0, 0.191), 0 12.3px 92.5px -34px rgba(0, 0, 0, 0.215), 0 17.4px 106px -34px rgba(0, 0, 0, 0.239), 0 24.6px 122px -34px rgba(0, 0, 0, 0.265), 0 35.8px 146.1px -34px rgba(0, 0, 0, 0.297), 0 55.1px 190.5px -34px rgba(0, 0, 0, 0.339), 0 98px 284px -34px rgba(0, 0, 0, 0.43);
    }
    
    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    #text {
        font-family: 'Girassol', cursive;
        text-align: center;
        font-size: 30px;
        color: #1D3557;
    }
    
    #author {
        font-family: 'Bad Script', cursive;
        text-align: end;
        color: #1D3557;
    }
    
    #new-quote {
        font-family: 'Girassol', cursive;
        background-color: #E63946;
        border-radius: 5px;
        width: 80px;
        height: 42px;
        color: #F1FAEE;
        box-shadow: none;
        border: none;
        margin-top: 2px;
        transition: all .5s ease-in;
    }
    
    #new-quote:focus {
        outline: none;
    }
    
    #new-quote:hover {
        background-color: #1D3557;
        box-shadow: 0 1.6px 4.6px rgba(0, 0, 0, 0.027), 0 3.4px 10.1px rgba(0, 0, 0, 0.04), 0 5.8px 16.9px rgba(0, 0, 0, 0.05), 0 8.7px 25.5px rgba(0, 0, 0, 0.058), 0 12.5px 36.7px rgba(0, 0, 0, 0.065), 0 17.7px 51.9px rgba(0, 0, 0, 0.072), 0 25.1px 73.6px rgba(0, 0, 0, 0.08), 0 36.5px 106.9px rgba(0, 0, 0, 0.09), 0 56.3px 164.8px rgba(0, 0, 0, 0.103), 0 100px 293px rgba(0, 0, 0, 0.13);
    }
    
    #tweet-quote {
        color: #E63946;
        margin: 0;
        padding: 0;
        transition: all .5s ease-in;
        background: #F1FAEE;
    }
    
    #tweet-quote:hover {
        color: #1D3557;
        box-shadow: 0 2px 29.6px -34px rgba(0, 0, 0, 0.07), 0 4.4px 54.5px -34px rgba(0, 0, 0, 0.101), 0 7.7px 75px -34px rgba(0, 0, 0, 0.124), 0 12.3px 92.5px -34px rgba(0, 0, 0, 0.145), 0 18.9px 109.6px -34px rgba(0, 0, 0, 0.166), 0 29.5px 132.5px -34px rgba(0, 0, 0, 0.189), 0 49px 176.4px -34px rgba(0, 0, 0, 0.22), 0 98px 284px -34px rgba(0, 0, 0, 0.29);
        background: #F1FAEE;
    }
    
    .byUrl {
        font-family: 'Girassol', cursive;
        color: #F1FAEE;
        font-size: 20px;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    @media only screen and (max-width: 900px) {
        #text {
            font-size: 22px;
        }
        #quote-box {
            width: 45vw;
        }
    }